
{% extends "base.html" %}

{% block content %}
<h1>Partie</h1>
<div class="flex-col grow-1 jc-center ai-center">
    <span class="current-note"></span>
</div>

<script>

    socket.on("init_round", (data) => {
        const note = document.querySelector(".current-note");

        note.innerText = data[0];

        startRecording();
    });

    socket.on("final_audio_round", async (data) => {
        console.log(data);
        console.log(data.byteLength);

        const blob = new Blob([data], { type: "audio/webm" });

        console.log(blob.size);

        const url = URL.createObjectURL(blob);

        console.log(url);

        const audio = new Audio(url);

        audio.oncanplay = () => {
            console.log("can play");
        };

        audio.onerror = (e) => {
            console.error("audio error", e);
        };

        try {
            await audio.play();
            console.log("playing");
        } catch (e) {
            console.error(e);
        }
    });

</script>
{% endblock %}