{% extends "base.html" %}

{% block content %}
    <div class="game-launcher flex-col flex-center">
        <h1>Orchezz</h1>

        <div class="flex-row padding-large">
            <label class="label-txtbox" for="txtbox-pseudo">Pseudo:</label>
            <input type="text" id="txtbox-pseudo" name="txtbox-pseudo">
        </div>

        <button id="btn-creer" class="btn-menu">Créer une partie</button>
        <button id="btn-rejoindre" class="btn-menu">Rejoindre une partie</button>
    </div>

    <script>
        // On récupère le token via la fonction définie dans base.html
        const userToken = getOrCreateToken();

        document.getElementById('btn-creer').onclick = function() {
            console.log("créer room");
            let pseudo = document.getElementById("txtbox-pseudo").value;
            window.location.href = "{{ url_for('creerPartie') }}?token=" + userToken + "&pseudo=" + pseudo;
        };

        document.getElementById('btn-rejoindre').onclick = function() {
            let pseudo = document.getElementById("txtbox-pseudo").value;
            window.location.href = "{{ url_for('connexionRoom') }}?token=" + userToken + "&pseudo=" + pseudo;
        };
    </script>
{% endblock %}